services:
  - type: web
    name: fyp-flask-backend
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 10000  
      - key: PYTHON_VERSION
        value: 3.10.13
