services:
  - type: web
    name: fyp-flask-backend
    env: python
    plan: free
    buildCommand: "pip install -r otp_backend/requirements.txt"
    startCommand: "python otp_backend/app.py"
    pythonVersion: 3.10.13
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 10000
